/*************/
/* $Setup */
/*************/
body {
  font-size: 16px; }

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both; }

/*************/
/* $Navigation */
/*************/
/* Not sure where to put logo */
.logo {
  background: #ffffff;
  display: inline-block;
  padding: 15px; }

.logo--primary {
  float: left; }

.nav-container {
  background: #fff;
  width: 100%;
  height: 106px; }

.nav {
  display: table; }

.primary-nav {
  width: 648px;
  float: right;
  padding-right: 4%;
  height: 109px; }

.primary-nav--content {
  border-left: 2px dashed black;
  padding-left: 8px; }

.listItem {
  display: table-cell;
  vertical-align: middle; }

/*************/
/* $Containers */
/*************/
.parent-block {
  margin-left: 10%;
  margin-top: 15px; }

.block {
  width: 27%;
  margin-right: 3%;
  vertical-align: top;
  display: inline-block; }

.newsUpdates__container {
  margin-bottom: 8px;
  padding-bottom: 10px;
  padding-top: 4px; }

.common-border {
  border-bottom: 1px dashed gray; }

/*************/
/* $Titles */
/*************/
.block__title {
  font-size: 1.5em;
  margin-bottom: 10px; }

.block__title--postThumb {
  color: #11719e; }

.block__title--connect {
  padding-bottom: 10px; }

.connect__title {
  padding-top: 20px; }

/*************/
/* $Buttons */
/*************/
.btn-primary {
  height: 45px;
  width: 190px;
  display: inline-block; }

.btn--learnMore {
  background: url(../assets/learnMoreBtnwText.png) no-repeat; }

.btn--subscribe {
  background: url(../assets/subscribeBTN.png) no-repeat; }

.subscribe_btn {
  height: 90px;
  width: 190px;
  display: inline-block; }

.btn--send {
  background: url(../assets/sendItBTN.png) no-repeat; }

.btn--visitBlog {
  background: url(../assets/visitBlogBTN2.png) no-repeat; }

/*************/
/* $Footer */
/*************/
.footerSection {
  background: #333333;
  color: #999999;
  padding: 10px 0px 20px 0px; }

.preFooter {
  height: 10px;
  background: #4c4c4c; }

.footerSection__anchor {
  color: #999999;
  display: inline-block;
  margin-top: 10px;
  padding-right: 5px;
  border-right: 1px solid #999999; }

/*************/
/* $Content */
/*************/
.block__paragraph {
  margin-bottom: 8px; }

.newsUpdates__p {
  display: inline-block;
  width: 80%;
  vertical-align: top; }

.newsUpdates__img {
  display: inline-block; }

.postThumb__img {
  margin-bottom: 8px;
  width: 100%;
  height: auto; }

.bannerImg {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%; }

.bannerArea {
  background: url(../assets/glowgradient.png) no-repeat;
  height: 350px;
  margin-bottom: 10px;
  float: left;
  position: relative;
  width: 100%; }

.block__textField {
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid gray;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px; }

.connect__textField {
  margin-bottom: 20px;
  margin-top: 20px; }

.block__caption {
  color: #8c8c8c;
  margin-bottom: 8px; }

.primaryHeading {
  text-align: center; }

.primaryHeading__text {
  font-weight: bold;
  font-size: 2em; }

@media only screen and (max-width: 1006px) {
  .nav {
    display: block; }

  .primary-nav {
    width: 100%;
    padding-right: 0%;
    height: auto; }

  .nav-container {
    height: auto; }

  .listItem {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 10px 0px; }

  .primary-nav--content {
    border: none;
    border-bottom: 2px solid black; }

  .logo--primary {
    text-align: center;
    margin: 0 auto;
    float: none;
    display: block; } }

/*# sourceMappingURL=style.css.map */
